.slider {
  display: flex;
  justify-content: center;
  .slider-view {
    margin-right: 17px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #ffffff;
    &:hover {
      background-color: #ffffff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}