.pricing {
  background: $secondary-bg-color;
  button {
    position: relative;
    background-color: $btn-bg;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    text-align: left;
    &:hover {
      background: coral;
    }
    &:after {
      content: "";
      width: 13px;
      height: 13px;
      background: url("../img/bucket-icon.png") no-repeat center;
      background-size: contain;
      display: inline-block;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

.pricing-content {
  p {
    color: $our-advantage-text-color;
    font-size: 18px;
    text-align: center;
  }
}

.card-body {
  .card-title {
    color: $btn-bg;
    font-weight: 100;
    font-size: 60px;
  }
  p {
    color: $our-advantage-text-color;
    font-size: 18px;
    line-height: 30px;
  }
  span {
    display: block;
    opacity: 0.45;
    color: $our-advantage-text-color;
    font-size: 18px;
    font-weight: 400;
  }
}

.card-decoration {
  box-shadow: $price-box-shadow;
  border: none;
  max-width: 245px;
  padding: 0;
  @media (min-width: 320px) {
      margin: 0 auto 30px;
  }
  @media (min-width: 576px) {
      margin: 0 auto 30px;
  }
  @media (min-width: 768px) {
      margin: 0 auto 30px;
  }
  @media (min-width: 992px) {
      max-width: 220px;
      margin: 0 auto 30px;
  }
  @media (min-width: 1200px) {
      margin: 0 auto 30px;
  }
}










